{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Cadastro
{% endblock %}

{% block content %}
<div class="content">
    
    <form method='post' action="{% url 'animes:cadastro' %}" class="form">
        <h1 class="title-cadastro"> REALIZE SEU CADASTRO ABAIXO </h1>
        {% csrf_token %}
        
        <div class="input-group">
            <label for='IDusuario' class="label-cadastro">Usuário</label>
            <input type='text' name='usuario' id='IDusuario' class="input-cadastro" required>
        </div>
    
        <div class="input-group">
            <label for='IDemail' class="label-cadastro">Email</label>
            <input type='text' name='email' id='IDemail' class="input-cadastro" required>
        </div>
    
        <div class="input-group">
            <label for='IDsenha' class="label-cadastro">Senha</label>
            <input type='password' name='senha' id='IDsenha' class="input-cadastro" required>
        </div>
    
        <button type='submit' class="button-cadastro">CADASTRAR</button>
    </form>
    
{% if erro %}
    <p class="error-login">{{ erro }}</p>
{% endif %}
</div>
{% endblock %}