{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Cadastro
{% endblock %}

{% block content %}
<div>
    <h1> Faça seu login </h1>
    <form method='post' action="{% url 'animes:cadastro' %}">
        {% csrf_token %}
        <label for='IDusuario'>Usuário </label>
        <input type='text' name='usuario' id='IDusuario'></br>
        <label for='IDemail'>Email </label>
        <input type='text' name='email' id='IDemail'><br>
        <label for='IDsenha'>Senha </label>
        <input type='password' name='senha' id='IDsenha'><br>
        <button type='submit'>Cadastrar</button>
    </form>
{% if erro %}
    <p>{{ erro }}</p>
{% endif %}
</div>
{% endblock %}