{% extends 'base.html' %}
{% load static %}

{% block titulo %}

Criar Quiz
{% endblock %}

{% block content %}
<div class="content">
    <h1> Crie seu quiz </h1>

    <form method='post'>
        {% csrf_token %}
        <label for='IDpergunta'>Insira a questão</label>
        <input type='text' name='pergunta' id='IDpergunta' required><br>
        <label for='IDrespostaA'>Insira a resposta A</label>
        <input type='text' name='respostaA' id='IDrespostaA' required><br>
        <label for='IDrespostaB'>Insira a resposta B</label>
        <input type='text' name='respostaB' id='IDrespostaB' required><br>
        <label for='IDrespostaC'>Insira a resposta C</label>
        <input type='text' name='respostaC' id='IDrespostaC' required><br>
        <label for='IDrespostaD'>Insira a resposta D</label>
        <input type='text' name='respostaD' id='IDrespostaD' required><br>
        <label>Qual a resposta correta? </label><br>
        <input type='radio' name='resposta-correta' value='A'> A <br>
        <input type='radio' name='resposta-correta' value='B'> B <br>
        <input type='radio' name='resposta-correta' value='C'> C <br>
        <input type='radio' name='resposta-correta' value='D'> D <br>

        <button type='submit' value="criar-pergunta" name='confirm'> Criar pergunta </button>

    </form>

    <form method='post'>
        {% csrf_token %}
        <label for="IDnome-quiz">Insira qual será o nome do seu quiz</label>
        <input type="text" name="nome-quiz" id='IDnome-quiz'>
        <button type='submit' value='finalizar-quiz' name='confirm'>Finalizar Quiz </button>
    </form>
</div>
{% endblock %}