{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Login
{% endblock %}

{% block content %}
<div class="content">
    <h1> Faça seu login </h1>
    <form method='post' action="{% url 'animes:login' %}">
        {% csrf_token %}
        <label for='IDusuarioOuEmail'>Usuário ou Email </label>
        <input type='text' name='usuarioOuEmail' id='IDusuarioOuEmail'></br>
        <label for='IDsenha'>Senha </label>
        <input type='password' name='senha' id='IDsenha'><br>
        <button type='submit'>Login</button>
    </form>
{% if erro %}
    <p>{{ erro }}</p>
{% endif %}
</div>
{% endblock %}