{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Pesquisar Quiz
{% endblock %}

{% block content %}
<div class="content">
    <h1 class="title-home"> Pesquise seu quiz </h1>
    <form method='post' class="form-search">
        {% csrf_token %}
        <label for='IDnome_pesquisa_quiz' class="label-search">Busque pelo nome do Quiz</label>
        <input name="nome_pesquisa_quiz" id='IDnome_pesquisa_quiz' class="input-cadastro">
        <button type='submit' class="button-cadastro">Pesquisar </button>
    </form>

    <div class="quiz-list-search">
        {% if object_list %}
        {% for quiz in object_list %}
        <a href="{% url 'animes:quizIndividual' pk=quiz.pk %}" class="link-search">
            <div class="content-search">
                <span class="name-card-search">{{ quiz.nome }}</span>
                <img src="{% static 'images/quiz.jpg' %}">
            </div>
        </a>
        {% endfor %}
        {% else %}
        <div class="content-search-no-result">
            <h1>Ops, não encontramos nenhum quiz com esse nome, pesquise por outra coisa ou <a class="link-no-result" href="{% url 'animes:criarquiz' %}">crie agora mesmo um quiz!</a></h1>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}